{{yield}}
<!--This component would be the grandchild of 'rental' route and child of rental-details component.-->
<li>
  <h3>{{heading}}</h3>
  <p>{{review.content}}</p> 
</li>

<button {{action 'delete' review}}>Delete this Review</button>
