<!-- {{outlet}} -->

<h1> Welcome </h1>

We hope things. For you.

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click to contact.{{/link-to}}
{{#link-to 'index'}}Click to head all the way home.{{/link-to}}
